html,
body {
  overflow: hidden;
}
body {
  overflow-x: hidden !important;
  background-size: cover;
  text-align: center;

  height: 100vh;
  background: rgb(0, 0, 0);
}

.list p {
  font-weight: 900;
  font-size: 1.3em;
  color: white !important;
  font-family: "Kranky";
}

a {
  font-family: "VT323";
  font-weight: 900;
  color: #ffffff;
  font-size: 1.25em;
  padding: 0;
  margin: 0 0 0;
}

p {
  font-family: "VT323";
  font-weight: 900;
  font-size: 10vw;
  color: #d6d1d1;
  padding: 0;
  margin: -200px 0 0;
}

@media only screen and (max-width: 800px) {
  p {
    font-size: 20vw;
  }
  .list p {
    font-weight: 900;
    font-size: 1em;
    color: white !important;
  }
  a {
    font-size: 1.25em;
  }
  html,
  body {
    overflow-x: hidden;
  }
}

#containerBox {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 20px;
  border: 1px solid white;
  border-radius: 20px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 60px;
}

#passwordSection {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

#passwordBox,
#submitPassword {
  margin: 5px;
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  background-color: #000000;
}

#passwordBox {
  flex-grow: 1;
  color: #d6d1d1;
}

#submitPassword {
  cursor: pointer;
  background-color: white;
  color: black;
}

#submitPassword:hover {
  background-color: #ddd;
}

#emailButton {
  width: 200px;
  padding: 10px 90px; /* Increasing left and right padding to make the button wider */
  font-size: 16px;
  border-radius: 20px;
  color: white;
  background-color: black;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  display: none;
  border: 1px solid rgb(0, 0, 0);
  transform: translate(
    -38px,
    5px
  ); /* Moving the button 20px to the left and 20px up */
}

#emailButton:hover {
  background-color: #333;
}

#passwordSection {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

#passwordBox,
#submitPassword {
  margin: 5px;
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
}

#passwordBox {
  flex-grow: 1;
}

#submitPassword {
  cursor: pointer;
  background-color: rgb(30, 29, 29);
  color: rgb(255, 255, 255);
}

#submitPassword:hover {
  background-color: #000000;
}

#emailButton:hover {
  background-color: #333;
}

.subtitle {
  font-family: Verdana;
  font-size: 18px;
  position: relative;
  top: 200px; /* Adjust the top value to move it down */
  left: -12px; /* Adjust the left value to move it to the left */
}

.overlay {
  z-index: 1100;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
}

.glitch {
  font-weight: bold;
  position: relative;
  text-shadow: 0.05em 0 0 rgba(83, 0, 0, 0.3),
    -0.03em -0.04em 0 rgba(83, 0, 0, 0.3), 0.025em 0.04em 0 rgba(83, 0, 0, 0.3);
  animation: glitch 725ms infinite;
}
.glitch span {
  position: absolute;
  top: 0;
  left: 0;
}

.glitch span:first-child {
  animation: glitch 700ms infinite;
  clip-path: polygon(0 0, 100% 0, 100% 35%, 0 35%);
  transform: translate(-0.04em, -0.03em);
  opacity: 0.75;
}

.glitch span:last-child {
  animation: glitch 575ms infinite;
  clip-path: polygon(0 65%, 100% 65%, 100% 100%, 0 100%);
  transform: translate(0.04em, 0.03em);
  opacity: 0.75;
}

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 rgba(214, 209, 209, 0.3),
      -0.03em -0.04em 0 rgba(125, 125, 125, 0.3),
      0.025em 0.04em 0 rgba(75, 75, 75, 0.3);
  }
  15% {
    text-shadow: 0.05em 0 0 rgba(214, 209, 209, 0.3),
      -0.03em -0.04em 0 rgba(125, 125, 125, 0.3),
      0.025em 0.04em 0 rgba(75, 75, 75, 0.3);
  }
  16% {
    text-shadow: -0.05em -0.025em 0 rgba(214, 209, 209, 0.3),
      0.025em 0.035em 0 rgba(125, 125, 125, 0.3),
      -0.05em -0.05em 0 rgba(75, 75, 75, 0.3);
  }
  49% {
    text-shadow: -0.05em -0.025em 0 rgba(214, 209, 209, 0.3),
      0.025em 0.035em 0 rgba(125, 125, 125, 0.3),
      -0.05em -0.05em 0 rgba(75, 75, 75, 0.3);
  }
  50% {
    text-shadow: 0.05em 0.035em 0 rgba(214, 209, 209, 0.3),
      0.03em 0 0 rgba(125, 125, 125, 0.3), 0 -0.04em 0 rgba(75, 75, 75, 0.3);
  }
  99% {
    text-shadow: 0.05em 0.035em 0 rgba(214, 209, 209, 0.3),
      0.03em 0 0 rgba(125, 125, 125, 0.3), 0 -0.04em 0 rgba(75, 75, 75, 0.3);
  }
  100% {
    text-shadow: -0.05em 0 0 rgba(214, 209, 209, 0.3),
      -0.025em -0.04em 0 rgba(125, 125, 125, 0.3),
      -0.04em -0.025em 0 rgba(75, 75, 75, 0.3);
  }
}

.webmail {
  position: absolute;
  bottom: 0;
  z-index: 1000;
  right: 0;
  margin: 10px;
  background-color: rgba(6, 6, 6, 1);
  color: white;
  text-decoration: none;
  transition: ease 0.3s;
  font-family: "Roboto";
}

.webmail:hover {
  background-color: rgba(27, 26, 26, 1);
}

audio {
  visibility: hidden;
  position: absolute;
  top: 0;
}
